/* 圆点导航 */
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    transform: translate3d(0,0,0);
}

#fp-nav.right {
    right: 17px;
}

#fp-nav ul li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}

#fp-nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

#fp-nav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

/*直接进入*/
.shoppingcenter{
    position: fixed;
    top:5%;
    right: 5%;
    z-index: 10;
}
/*第一屏幕*/
.qbh-title{
    background: url("../images/qbh-title-bg.png") no-repeat;
    background-position: center bottom;
    position: relative;
}
.qbh-title .qbh-title-extra{
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.qbh-title .qbh-title-sofa{
    position: absolute;
    left: 50%;
    bottom: 329px;
    transform: translateX(-200px);
    /*动画名称，持续时间，运动方式，是否循环运动*/
    animation: upsofa 2s linear infinite;
}
.qbh-title .qbh-title-name{
    position: absolute;
    right: 15%;
    top: 100px;
    /*动画名称，持续时间，运动方式，是否循环运动*/
    animation: upname 1.8s linear infinite;
}
@keyframes upsofa {
    0%{
        bottom: 329px;
    }
    50%{
        bottom: 359px;
    }
    100%{
        bottom: 329px;
    }
}
@keyframes upname {
    0%{
        top: 100px;
    }
    50%{
        top: 80px;
    }
    100%{
        top: 100px;
    }
}

/*第二屏幕*/
.qbh-list{
    background: url("../images/qbh-list-bg.png") no-repeat;
    background-position: center bottom;
    position: relative;
}
/*搜索框运动设置*/
.qbh-list .qbh-list-search{
    width: 990px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 13%;
}
/*空白搜索狂*/
.qbh-list .qbh-list-search-box{
    position: absolute;
    right: -40PX;
    top: 35%;
    transform: translateY(-50%);
    opacity: 0;
}
/*文字*/
.qbh-list .qbh-list-search-font{
    position: absolute;
    right: 41.5%;
    top: 34%;
    transform: translateY(-50%);
    opacity: 0;
}
/*<!--文字搜索框-->*/
.qbh-list .qbh-list-search-finish{
    position: absolute;
    right: 380PX;
    top: 35%;
    transform: translateY(-50%);
    opacity: 0;
}
/*沙发*/
.qbh-list .qbh-list-sofas{
    position: absolute;
    right: 210PX;
    bottom: 36%;
    transform: translateY(-50%);
    width: 100px;
    height: 50px;
    opacity: 0;
}
/*<!--掉下去的沙发-->*/
.qbh-list .qbh-list-sofa-pic{
    position: absolute;
    right: 483PX;
    bottom: 69.5%;
    width: 100px;
    height: 80px;
    display: none;
    z-index: 10;
}
/*宣传语*/
.qbh-list .qbh-list-worda,
.qbh-list .qbh-list-wordb {
    position: absolute;
    right: 50%;
    top: 20%;
    transform: translateX(50%);
}

/*<!--第三屏幕-->*/
.qbh-buy{
    background: url("../images/qbh-buy-main-bg.png") no-repeat;
    background-position: center bottom;
    position: relative;
}
.qbh-buy .qbh-buy-choose-start,
.qbh-buy .qbh-buy-choose-end{
    position: absolute;
    right: 25%;
    bottom: 25%;
}
.qbh-buy .qbh-buy-add-cart-end{
    position: absolute;
    right: 31%;
    bottom: 13%;
}
/*<!--掉下的沙发-->*/
.qbh-buy .qbh-info-rotate-sofa{
    position: absolute;
    right: 52%;
    bottom: 33%;
    display: none;
    z-index: 10;
}

/*<!--第四屏幕-->*/
/*背景*/
.qbh-info{
    background: url("../images/qbh-info-bg.png")no-repeat;
    background-position: center bottom;
    position: relative;
}
/*云*/
.qbh-info .qbh-info-cloud{
    position: absolute;
    top:0;
    left: 0;
    animation: upcloud 30s linear infinite;
}
@keyframes upcloud {
    0%{
        left: 0;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 0;
    }
}
/*宣传语*/
.qbh-info .qbh-info-wordb,
.qbh-info .qbh-info-worda{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
/*购物车*/
.qbh-info .qbh-info-cart{
    position: absolute;
    bottom: 8%;
    right: 50%;
    transform: translateX(50%);
    z-index: 11;
}
/*<!--电脑-->*/
.qbh-info .qbh-info-address-box{
    position: absolute;
    bottom: 30%;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
}
/*<!--收货地址-->*/
.qbh-info .qbh-info-address{
    position: absolute;
    bottom: 54%;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
}

/* <!--第五屏幕--> */
.qbh-payment{
    background: url('../images/qbh-payment-bg.png') repeat;
    position: relative;
    z-index: 2;
}
/* 银行卡 */
.qbh-payment .qbh-payment-cards{
    position: absolute;
    left: 20%;
    top: 36%;
}
/* 沙发 */
.qbh-payment .qbh-info-rotate-sofa{
    position: absolute;
    top: -25%;
    left: 20%;
    display: none;
}
/* 账单 */
.qbh-payment .qbh-payment-bill{
    position: absolute;
    left: 28%;
    top: 36%;
}
/* <!-- 宣传语 --> */
.qbh-payment .qbh-payment-font{
    position: absolute;
    left: 20%;
    top: 0%;
}
/* 鼠标 */
.qbh-payment .qbh-payment-monse-start,
.qbh-payment .qbh-payment-mouse-end{
    position: absolute;
    right: 18%;
    bottom: 27%;
    z-index: -2;
}
/* 手 */
.qbh-payment .shou{
    position: absolute;
    bottom: 0;
    right: 19%;
    width: 230px;
    height: 500px;
    overflow: hidden;
}
.qbh-payment .qbh-payment-hands{
    position: absolute;
    right: 22%;
    bottom: -25%;
    display: none;
    z-index: -1;
}

/* 第六屏幕 */
.qbh-delivery{
    background: url('../images/qbh-delivery-bg.png') no-repeat;
    background-position: 25% bottom;
    position: relative;
}
/* 云 */
.qbh-delivery .qbh-delivery-cloud-one{
    position: absolute;
    top: 2%;
    left: 0;
}
.qbh-delivery .qbh-delivery-cloud-two{
    position: absolute;
    top: 2%;
    right: 0;
}
/* 送货车 */
.qbh-delivery .qbh-delivery-truck{
    position: absolute;
    bottom: 0%;
    left: 35%;
}
/* 箱子 */
.qbh-delivery .qbh-delivery-box{
    position: absolute;
    top: 20%;
    left: -10%;
    display: none;
}
/* 沙发 */
.qbh-delivery .qbh-info-rotate-sofa{
    position: absolute;
    top: -25%;
    left: 25%;
    display: none;
}
/* 地址 */
.qbh-delivery .qbh-delivery-shangjia,
.qbh-delivery .qbh-delivery-truck-font{
    position: absolute;
    bottom: 15%;
    left: 50%;
    opacity: 0;
}
/* 送货人 */
.qbh-delivery .qbh-delivery-deliveryman{
    position: absolute;
    bottom: 5%;
    left: 38%;
    width: 50px;
    height: 50px;
    opacity: 0;
}
/* 门 */
.qbh-delivery .qbh-delivery-door{
    position: absolute;
    bottom: 17%;
    right: 20.7%;
    display: none;
}
/* 接货人 */
.qbh-delivery .qbh-delivery-buyer{
    position: absolute;
    bottom: 17%;
    right: 24%;
    width: 0px;
    height: 0px;
}
/* 宣传语 */
.qbh-delivery .qbh-delivery-font-end,
.qbh-delivery .qbh-delivery-font-start{
    position: absolute;
    top: 25%;
    left: 35%;
}
.qbh-delivery .qbh-delivery-font-end{
    opacity: 0;
}
/* 请收货？ */
.qbh-delivery .qbh-delivery-shouhuo{
    position: absolute;
    top: 17%;
    right: 33%;
    display: none;
}

/* <!--第七屏幕--> */
.qbh-appraise{
    background: url(../images/qbh-appraise-bg.png) no-repeat;
    background-position: center bottom;
    position: relative;
}
.qbh-appraise .xing{
    position: absolute;
    top: 34.5%;
    left: 28%;
    font-size: 0;
    width: 0;
    height: 13px;
    overflow: hidden;
}
.qbh-appraise .xing .qbh-appraise-star{
    display: inline-block;
    margin-left: 7px;
}
.qbh-appraise .qbh-appraise-haoping{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 0;
    height: 40px;
}

/* 第八屏幕 */
.qbh-shopping{
    background: url(../images/qbh-shopping-bg.png) repeat;
    position: relative;
}
.qbh-shopping .qhb-shopping-dong,
.qbh-shopping .qbh-shopping-start-shopping
{
    position: absolute;
    top: 25%;
    left: 37%;
}

.qbh-shopping .qbh-shopping-again{
    position: absolute;
    top: 43%;
    left: 67%;
}
/* 手 */
.qbh-shopping .qbh-shopping-hands{
    position: absolute;
    top: 36%;
    left: 45%;
}

/* 继续往下 */
.down{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    animation: down 1.5s linear infinite;

}
@keyframes down{
    0%{
        bottom: 5%;
    }
    50%{
        bottom: 10%;
    }
    100%{
        bottom: 5%;
    }
}

